@model List<ScheduleRow>

@{
    ViewData["Title"] = "MetallFactory";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

@*<a asp-action="Schedule">Сгенерировать расписание</a>*@

<table>
    <tr><th>Партия</th><th>Машина</th><th>Начало</th><th>Окончание</th></tr>
    @foreach (var r in Model)
    {
        <tr><td>@r.Party</td><td>@r.Machine</td><td>@r.StartTime</td><td>@r.EndTime</td></tr>
    }
</table>
<div>Всего загрузок - @Model.Count</div>