@model IEnumerable<MetallFactory.ViewModels.ScheduleRowVM>

<p class="display-4 text-uppercase">Расписание:</p>

<table class="table table-striped p-3" style="text-align:center">
    <tr><th>ID партии</th><th>Материал</th><th>Машина</th><th>Начало</th><th>Окончание</th></tr>
    @foreach (var r in Model)
    {
        <tr><td>@r.PartyId</td><td>@r.MaterialName</td><td>@r.MachineName</td><td>@r.StartTime</td><td>@r.EndTime</td></tr>
    }
</table>

<div class="m-3">
    <a asp-action="ExportToExcel" class="btn btn-success btn-lg">Экспорт в xlsx</a>
</div>

